.stack {
  display: flex;
  flex-direction: column;

  &[data-gap='0'] {
    gap: var(--space-0);
  }

  &[data-gap='1'] {
    gap: var(--space-1);
  }

  &[data-gap='2'] {
    gap: var(--space-2);
  }

  &[data-gap='3'] {
    gap: var(--space-3);
  }

  &[data-gap='4'] {
    gap: var(--space-4);
  }

  &[data-gap='5'] {
    gap: var(--space-5);
  }

  &[data-gap='6'] {
    gap: var(--space-6);
  }

  &[data-gap='7'] {
    gap: var(--space-7);
  }

  &[data-gap='8'] {
    gap: var(--space-8);
  }

  &[data-gap='9'] {
    gap: var(--space-9);
  }

  &[data-align='start'] {
    align-items: flex-start;
  }

  &[data-align='center'] {
    align-items: center;
  }

  &[data-align='end'] {
    align-items: flex-end;
  }

  &[data-align='stretch'] {
    align-items: stretch;
  }
}
